@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="background-color:powderblue;color:white;">Welcome to Online Depot</h1>
    <p>Rent, Buy and Sell movies.</p>
</div>
